
#slider-red highlight{
  background-color: rgb(230, 33, 33); /*red*/
}#slider-green highlight{
  background-color: rgb(47, 207, 32); /*green*/
}#slider-blue highlight{
  background-color: rgb(35, 97, 212); /*blue*/
}#slider-default highlight{
  background-color: rgb(240, 248, 255); /*white*/
}

#slider-red trough,
#slider-green trough,
#slider-blue trough,
#slider-default trough{
  background-color: #1b1b1b;
  color: #1b1b1b;
  padding-right: 1px;
  padding-left: 1px;
}
#slider-box{
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #1b1b1b;
  border-radius: 3px;
}